body {
    background-color: #8cb1b6;
    padding: 10px;
    padding-left: 400px;
    padding-top: 20px;
}

.Text {
    border-bottom: solid 5px rgb(121, 241, 213);
    border-left: solid 10px rgb(121, 226, 219);
    background-color: rgb(53, 150, 185);
    color: #3957db;
    width: 45%;
    padding: 10px;
}

.img {
    border: double 10px #90ccf1;
    padding: 0px;
}